
.background-vbox{
    -fx-background-color: white;
    -fx-padding: 10px 20px 30px 20px

}

.textForm-stye{
    -fx-border-style: solid;
    -fx-border-color: white white white white;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #f6f6f6;

}


.textForm-stye:focused {
    -fx-background-color: #ffffff;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: white white #ff284d white;
    -fx-background-radius: 10px;
    -fx-border-radius: 0;
}

.text-area-style{
    /* terminalTextArea.setStyle("-fx-control-inner-background:#000000; -fx-font-family: Consolas; -fx-highlight-fill: #00ff00; -fx-highlight-text-fill: #000000; -fx-text-fill: #00ff00; ");
*/

    -fx-border-radius: 2px;
    -fx-border-color: #ffffff;
    -fx-text-fill: #646464;
    -fx-font-weight: bold;
    -fx-background-color: white;



}

.text-area-style .scroll-pane {
    -fx-background-color: white;

}
.text-area-style .scroll-pane .viewport{
    -fx-background-color: white;

}
.text-area-style .scroll-pane .content{
    -fx-background-color: #f6f6f6;
}

.text-area-style:focused .scroll-pane .content{
    -fx-background-color: #ffffff;
}

.text-area-style:focused{
    -fx-border-color: #ff3c68;

    -fx-effect: null;
    -fx-background-color: transparent;

    -fx-faint-focus-color: white;
    -fx-focus-color: white;

    -fx-border-width: 2px;
}


.textForm-result-stye:focused{
    -fx-border-color: white white #28ffff; /* Color del borde inferior */
}


.textForm-stye .scroll-bar:vertical {
    -fx-background-color: #ffffff; /* Color de fondo del scrollbar vertical */
}


.text-area .scroll-bar:horizontal .track {
    -fx-background-color: #ee0000; /* Color del pulgar (scroll) vertical */
}


.button-range{
    -fx-background-color: #f34567;
    -fx-text-fill: white;
    -fx-background-radius: 3px;
    -fx-min-height: 30px;
}

.button-confirm{
    -fx-background-color: #0da1fd;
    -fx-min-height: 30px;

}

.button-confirm:hover{
    -fx-background-color: #007cc2;
    -fx-min-height: 30px;

}

.button-confirm:pressed{
    -fx-background-color: #0da1fd;
    -fx-min-height: 30px;

}


.button-cancelar{
    -fx-background-color: #ffffff;
    -fx-min-height: 30px;
    -fx-border-width: 1px;
    -fx-border-color: #0da1fd;
    -fx-border-radius: 4px;
    -fx-text-fill :  #0da1fd;

}


.button-cancelar:hover{
    -fx-background-color: #f5f9fc;

}

.button-cancelar:pressed{
    -fx-background-color: #ffffff;

}


.button-copy{
    -fx-background-color: #270733;
    -fx-min-height: 30px;
    -fx-cursor: hand;

}

.button-copy:hover{
    -fx-background-color: #ff3c68;
    -fx-min-height: 30px;

}

.button-copy:pressed{
    -fx-background-color: #ff0440;
    -fx-min-height: 30px;

}



